@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background: url(imagens/fundo-madeira.jpg) no-repeat ;
    background-size: cover;
    background-attachment: fixed;
}

main{
    position: relative;
    height: 100vh;
    
}

section#celular{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 684px;
    width: 448px;
    background: url(imagens/celular.png) no-repeat;
}
iframe#tela{
    position: relative;
    top:35px;
    left: 83px;
    border-radius: 30px;
    width: 280px;
    height: 615px;
}

section#redes-sociais{
    padding-top:60px;
    text-align: center;
}
section#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px black;  
    box-sizing: border-box;
}

section#redes-sociais img:hover{
    border: 3px solid white;
    transform: translate(-4px, -4px);
    box-shadow: 5px 5px 10px black;
}
